@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

/* colors - Dark Mode */
$bg-color: #222222;
$second-color: #444444;
$app-color: #01D85F;
$app-color-hover: #02853b;
$dark-color: #282828;
$dark-color-opacity: #282828ee;
$gray-color: #CCCCCC;
$white-color: #F5F5F5;

/* Margin and Padding */
$mp-lgscreen: 128px;
$mp-mdscreen: 64px;
$mp-smscreen: 32px;

*,::after,::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.25rem;
    height: 1rem;
}
::-webkit-scrollbar-thumb {
    background-color: $app-color;
    border-radius: 0.25rem;
}

body {
    background-color: $bg-color;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
    color: $gray-color;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Title with double undeline */
.title-underline {
    font-size: 1.2rem;
    font-weight: 600;
    color: $white-color;
    letter-spacing: 1.2px;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: inline-block;
    position: relative;
}
.title-underline::before,
.title-underline::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $second-color;
}
.title-underline::after {
    background-color: $app-color;
    width: 40%;
}

.btn-up {
    width: 50px;
    height: 50px;
    background-color: $second-color;
    border-radius: 0.25rem;
    position: fixed;
    right: 1rem;
    top: 80%;
    box-shadow: 10px 4px 10px #0000;
    cursor: pointer; 

    a {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        position: relative;
        z-index: 100;
    }

    &::before,
    &::after {
        content: '';
        width: 1.5px;
        height: 50%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $gray-color;
    }
    &::after {
        transform-origin: top;
        transform: rotate(30deg);
    }
    &::before {
        transform-origin: top;
        transform: rotate(-30deg);
    }
}